name: build

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  schedule:
    - cron: "*/30 * * * *"  # 30分ごと

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install deps
        run: |
          npm install

      - name: Generate site files
        run: |
          npm run build

      - name: Commit & push if changed
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add -A
          git diff --cached --quiet || git commit -m "auto: update posts"
          git push